.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #7579ff, #b224ef, #fcb045, #b345fc)
    47% 0%;
  margin: 0 15px;
}
