.item {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  line-height: 1.5;
  width: 250px;
  text-align: center;
}
.contact-item {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 60px;
  gap: 20px;
}
.avatar {
  vertical-align: middle;
  margin-right: 10px;
}

.deletebtn {
  text-align: center;
  font-weight: 700;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #7579ff;
  margin: 10px;
  font-size: 16px;
  padding: 1px 5px;
  width: 120px;
  height: 30px;
}

.deletebtn:hover,
.deletebtn:focus {
  background-color: #b224ef;
  border: 1px solid #fff;
}
