.phonebook-form {
  margin: 15px;
}
.form-group {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.form-group label,
.form-group input {
  margin: 0 10px; /* Adjust spacing between label and input */
}

.input-contact {
  max-width: 200px;
  height: auto;
  font-size: 16px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  border: none;
  height: 30px;
}

.form-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

.namebtn {
  text-align: center;
  font-weight: 700;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #7579ff;
  margin: 10px;
  font-size: 16px;
  padding: 1px 5px;
  width: 120px;
  height: 30px;
}

.namebtn:hover,
.namebtn:focus {
  background-color: #b224ef;
  border: 1px solid #fff;
}
.phonebook-title {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 600;
}
.form-title-cont {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
