.contact-form {
  margin: 0 auto;
  background-color: rgb(157, 222, 162);
  max-width: 350px;
  height: auto;
  box-shadow: 10px 5px 5px rgb(134, 218, 148);
  margin-top: 40px;
  box-sizing: border-box;
  padding: 15px;
}
.contact {
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding-top: 20px;
}
