.contact-logout {
  display: flex;
}

.contact-btn {
  text-align: center;
  font-weight: 700;
  display: block;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 2px solid #333;
  margin: 0 auto;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(214, 205, 205);
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #7579ff;
}
.contact-logout {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  margin: 15px;
  font-style: italic;
}
