.contact-logout {
  display: flex;
}

.contact-btn {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 400;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #7579ff;
}
.contact-logout {
  font-weight: 700;
  font-size: 16px;
  color: #333;
  margin: 15px;
  font-style: italic;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
